*{
    font-family:"Jaro",sans-serif;
    font-weight:400;
    font-style: normal;
margin:0px;
padding:0px;}
header{
    padding:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
   

}

.eat{
    margin-left:5px;
    font-size:20px;
}
.icon{
    height:15px;
}
.purple{
    color:rgb(103, 1, 255);
} 
.headerflex{
    display:flex;
    align-items: center;
}
.flex3{
    display:flex;
    list-style: none;
    gap:20px;
    height:20px;
    margin-right:200px;
    
}
a{
    color:rgb(103, 1, 255);
    text-decoration: none;
}
a:hover{
    color:black;
}
#map {
    height: 200px;
    width: 200px;
   margin-left:auto;
   bottom:230px;
   right:230px;
    
    
    border:2px solid black;
    border-radius: 8px;

  }
  #login{
    display:flex;
  
    height:200px;
    width:200px;
    font-size:12px;
    justify-content: space-around;
  }
  #box1,#box2{
    border:solid 2px black;
    height:100px;
    width:200px;
    border-radius:8px;

    margin-left:200px;


  }
  #box1{
    margin-top:20px;
  }

  #flex4{
    display:flex;
 
  }
  .image{
    height:50px;
  margin-left:100px;
  }